{
  "presets": [
    ["env", { "targets": { "safari": 10 }}],
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-class-properties", { "spec": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js",
            "**/src/lib/styles/**",
            "**/src/lib/theming/**",
            "**/src/lib/index.js",
            "**/src/lib/components/**",
            "**/test/**"
          ]
        }]
      ]
    }
  }
}
