
$link-color: #4078c0;
$demo-screen-background-color: #fafafa;

$page-header-height: 50px;
$page-header-border-width: 3px;
$header-content-height: $page-header-height - 2 * $page-header-border-width;

$mobile-break-point: 992px;
$demo-links-width: 300px;
$links-toggle-label-width: 100px;
$github-link-width: $links-toggle-label-width;
$head-color: #f0f0f0;
$head-background: #3e454b;
$locale-dir-switch-background: #2d3237;
$demo-area-border-color: #c1c1c1;

$tabs-tab-background-color: $demo-screen-background-color;
