
@import "vars";

.demo-screen {
  padding: 20px 60px 40px 60px;
  background-color: $demo-screen-background-color;
  //box-shadow: inset 0px 3px 11px 0px rgba(0,0,0,0.75);

  @media (max-width: $mobile-break-point) {
    padding: 20px 20px 40px 20px;
  }

  .locale-switch {

    .locale-dir-switch, .locale-lang-switch {
      display: inline-block;
      padding-#{$end}: 15px;
      height: 45px;
      line-height: 45px;
      background-color: transparent;

      select {
        width: 100px;
        height: 25px;
        font-weight: 500;
        color: $text-default-color;
        vertical-align: top;
        // https://stackoverflow.com/questions/5780109/removing-rounded-corners-from-a-select-element-in-chrome-webkit
        border: 0;
        background-color: transparent;
        outline: 1px inset #ccc;
        outline-offset:-1px
      }
    }
  }


  h2.title {
    border-bottom: 1px solid #aaa;
    font-weight: 700;
    font-size: 30px;
    color: $page-header-background;
    height: 60px;
    line-height: 60px;
    text-align: $start;
    margin: 20px 0px 20px 0px;
  }

  h3.section {
    font-weight: 500;
    font-size: 25px;
    color: $page-header-background;
    text-align: $start;
    display: inline-block;
    padding-bottom: 4px;
  }

  // https://codepen.io/oknoblich/pen/tfjFl (CSS Tabs example)
  // Tabs Start
  .tabs {
    > section {
      display: none;
      padding: 20px 10px;
      //box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px -1px 4px;
      background-color: $tabs-tab-background-color;
    }

    > input {
      display: none;
    }

    > label, > a {
      box-sizing: border-box;
      display: inline-block;
      margin-#{$end}: 2px;
      margin-bottom: 5px;
      padding: 5px 15px 0px 15px;
      height: 30px;
      line-height: 30px;
      font-weight: 600;
      text-align: center;
      color: #bbb;
      border-top: 2px solid transparent;
      background-color: transparent;
    }

    > label:hover, > a:hover {
      color: #888;
      cursor: pointer;
    }

    > input:checked + label {
      color: #555;
      height: 42px;
      margin-bottom: -1px;
      //border-top: 1px solid #aaa;
      border-bottom: none;
      background-color: $tabs-tab-background-color;
      //box-shadow: rgba(0, 0, 0, 0.12) -1px -2px 2px, rgba(0, 0, 0, 0.12) 1px -2px 2px;
    }

    @for $i from 1 through 40 {
      #tab-#{$i}:checked ~ #content-#{$i} {
          display: block;
      }
    }
  }
  // Tabs End

  div.properties {
    overflow-x: auto;

    table {
      width: 100%;
      min-width: 800px;
      border-spacing: 0px;


      th, td {
        padding: 10px;
        text-align: $start;
        border-bottom: 1px solid #ccc;
      }

      th {
        color: #888888;
        font-weight: 500;
        font-size: 16px;
      }

      td {
        color: #6a6a6a;
        font-weight: 400;
        font-size: 15px;
      }

      td.prop-name {
        color: #266d90;
      }

      td.prop-type {
        color: #c02e5f;
      }



    }

  }

}
