
@import "vars";

.demo-screen {
  padding: 20px 10px 20px 10px;
  background-color: $demo-screen-background-color;
  box-shadow: inset 0px 3px 11px 0px rgba(0,0,0,0.75);

  h2.title {
    border-bottom: 1px solid $head-background;
    font-weight: 700;
    font-size: 30px;
    color: $head-background;
    height: 60px;
    line-height: 60px;
    text-align: $start;
  }

  h3.section {
    font-weight: 500;
    font-size: 25px;
    color: $head-background;
    text-decoration: underline;
    text-align: $start;
  }

  // https://codepen.io/oknoblich/pen/tfjFl (CSS Tabs example)
  // Tabs Start
  .tabs {
    > section {
      display: none;
      padding: 20px 10px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px -1px 4px;
      background-color: $tabs-tab-background-color;
    }

    > input {
      display: none;
    }

    > label {
      box-sizing: border-box;
      display: inline-block;
      margin-#{$end}: 2px;
      margin-bottom: 5px;
      padding: 0px 25px;
      height: 70px;
      line-height: 70px;
      font-weight: 600;
      text-align: center;
      color: #bbb;
      border-top: 2px solid transparent;
      background-color: transparent;
    }

    > label:hover {
      color: #888;
      cursor: pointer;
    }

    > input:checked + label {
      color: #555;
      height: 82px;
      margin-bottom: -1px;
      border-top: 2px solid orange;
      border-bottom: none;
      background-color: $tabs-tab-background-color;
      box-shadow: rgba(0, 0, 0, 0.12) -1px -2px 2px, rgba(0, 0, 0, 0.12) 1px -2px 2px;
    }

    @for $i from 1 through 40 {
      #tab-#{$i}:checked ~ #content-#{$i} {
          display: block;
      }
    }
  }
  // Tabs End

}
