
@import "vars";

#demo {

  height: 100%;

  .head-link {
    color: $page-header-color;
  }

  > div {
    height: 100%;

    .page-header {
      position: relative;
      z-index: 1;
      height: $page-header-height;
      box-sizing: border-box;
      background-color: $page-header-background;
      border-top: 3px solid $page-header-background;
      border-bottom: 3px solid $page-header-background;
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);

      @media (max-width: $mobile-break-point) {
        padding-#{$start}: $links-toggle-label-width;
        box-shadow: none;
      }

      h2 {
        display: inline-block;
        width: calc(100% - #{$github-link-width});
        height: $page-header-content-height;
        line-height: $page-header-content-height;
        text-align: center;
        vertical-align: top;
        margin: 0;
        padding: 0;
        color: $page-header-color;
      }

      a {
        display: inline-block;
        width: $github-link-width;
        height: $page-header-content-height;
        line-height: $page-header-content-height;
        text-align: center;
        vertical-align: top;
        margin: 0;
        padding: 0;
      }
    }

    .demo-wrapper {
      position: relative;
      height: calc(100% - #{$page-header-height});

      #links-toggle-label {
        position: absolute;
        z-index: 1;
        display: none;
        @media (max-width: $mobile-break-point) {
          display: block;
          cursor: pointer;
          width: $links-toggle-label-width;
          height: $page-header-content-height;
          line-height: $page-header-content-height;
          text-align: center;
          top: -$page-header-height;
        }
      }

      #links-toggle {
        display: none;

        &:checked + .demo-links {
          @media (max-width: $mobile-break-point) {
            width: 100%;
            display: block;
          }
        }

      }

      .demo-links {
        position: absolute;
        z-index: 1;
        overflow: auto;
        width: $demo-links-width;
        height: 100%;
        padding-bottom: 20px;
        background-color: $demo-links-background-color;
        box-sizing: border-box;
        border-right: 1px solid $demo-area-border-color;
        box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, .5);

        @media (max-width: $mobile-break-point) {
          display: none;
          border-right: none;
          box-shadow: none;
        }

        .locale-dir-switch {
          padding-#{$start}: 15px;
          height: 40px;
          line-height: 40px;
          background-color: $locale-dir-switch-background;
          a {
            font-weight: 500;
            color: $text-default-color;
          }
        }

        .links-section-group {
          padding-top: 25px;
          padding-bottom: 10px;
          padding-#{$start}: 15px;
          font-weight: 700;
          background-color: $demo-links-section-background-color;
        }

        ul {

          background-color: $demo-links-section-background-color;

          li {
            padding-#{$start}: 15px;
            padding-top: 6px;
            padding-bottom: 6px;

            &:hover {
              background-color: $demo-links-background-color;
            }

            &[x-active] {
              background-color: $demo-links-background-color;
              a {
                color: $page-header-background;
              }
            }

            a {
              color: $text-default-color;
            }
          }

          &:after {
            content: '';
            background-color: $demo-links-background-color;
            display: table;
            margin-top: 10px;
            width: 100%;
            height: 30px;
            clear: both;
          }
        }

      }

      /* 1: fix ios iframe weird behaviour which makes its height auto-sizing according with content */
      .demo-area {
        padding-#{$start}: $demo-links-width;
        @media (max-width: $mobile-break-point) {
          padding-#{$start}: 0px;
        }
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto; /* 1 */
        -webkit-overflow-scrolling: touch; /* 1 */
        box-sizing: border-box;

        > div {
          height: 100%;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
        }

        /* 1: prevents double scrollbar (from iframe and from iframe's wrapper)  */
        > iframe {
          width: 100%;
          height: 100%;
          margin: 0px 0px -5px 0px; /* 1 */
          padding: 0;
          border: none;
        }
      }
    }
  }


}
