
@import "vars";

a {
  color: $link-color;
  text-decoration: none;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

pre {
  margin: 0px;
  padding: 0px;
  code {
    background-color: transparent;
    //unicode-bidi: bidi-override;
    unicode-bidi: plaintext;
  }

}
