html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: #383e44;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

//@import "debug";

@import "vars";

$dir: ltr;
$start: left;
$end: right;
html[dir=#{$dir}] {
  @import "reset";
  @import "layout";
  @import "demoScreen";
}


$dir: rtl;
$start: right;
$end: left;
html[dir=#{$dir}] {
  @import "reset";
  @import "layout";
  @import "demoScreen";
}
