html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@import "debug";

$dir: ltr;
$start: left;
$end: right;
html[dir=#{$dir}] {
  @import "reset";
  @import "layout";
}


$dir: rtl;
$start: right;
$end: left;
html[dir=#{$dir}] {
  @import "reset";
  @import "layout";
}
