html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: #383e44;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-size: 15px; }

* {
  box-sizing: border-box; }

html[dir=ltr] a {
  color: black;
  text-decoration: none; }

html[dir=ltr] ul, html[dir=ltr] li {
  margin: 0px;
  padding: 0px;
  list-style: none; }

html[dir=ltr] #demo {
  height: 100%; }
  html[dir=ltr] #demo .head-link {
    color: #f2f2f2; }
  html[dir=ltr] #demo > div {
    height: 100%; }
    html[dir=ltr] #demo > div .page-header {
      position: relative;
      z-index: 1;
      height: 50px;
      box-sizing: border-box;
      background-color: #3e454b;
      border-top: 3px solid #2d3237;
      border-bottom: 3px solid #2d3237;
      box-shadow: 0 8px 6px -6px black; }
      @media (max-width: 992px) {
        html[dir=ltr] #demo > div .page-header {
          padding-left: 100px; } }
      html[dir=ltr] #demo > div .page-header h2 {
        display: inline-block;
        width: calc(100% - 100px);
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: top;
        margin: 0px;
        padding: 0px;
        color: #f2f2f2; }
      html[dir=ltr] #demo > div .page-header a {
        display: inline-block;
        width: 100px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: top;
        margin: 0px;
        padding: 0px; }
    html[dir=ltr] #demo > div .demo-wrapper {
      position: relative;
      height: calc(100% - 50px);
      /* 1: fix ios iframe weird behaviour which makes its height auto-sizing according with content */ }
      html[dir=ltr] #demo > div .demo-wrapper #links-toggle-label {
        position: absolute;
        z-index: 1;
        display: none; }
        @media (max-width: 992px) {
          html[dir=ltr] #demo > div .demo-wrapper #links-toggle-label {
            display: block;
            cursor: pointer;
            width: 100px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            top: -50px; } }
      html[dir=ltr] #demo > div .demo-wrapper #links-toggle {
        display: none; }
        @media (max-width: 992px) {
          html[dir=ltr] #demo > div .demo-wrapper #links-toggle:checked + .demo-links {
            width: 100%;
            display: block; } }
      html[dir=ltr] #demo > div .demo-wrapper .demo-links {
        position: absolute;
        z-index: 1;
        overflow: auto;
        width: 300px;
        height: 100%;
        background-color: #3e454b;
        box-sizing: border-box;
        border-right: 1px solid #c1c1c1; }
        @media (max-width: 992px) {
          html[dir=ltr] #demo > div .demo-wrapper .demo-links {
            display: none; } }
        html[dir=ltr] #demo > div .demo-wrapper .demo-links .locale-dir-switch {
          padding-left: 10px;
          height: 30px;
          line-height: 30px;
          background-color: #2d3237;
          margin-bottom: 1px; }
          html[dir=ltr] #demo > div .demo-wrapper .demo-links .locale-dir-switch a {
            color: #f2f2f2; }
        html[dir=ltr] #demo > div .demo-wrapper .demo-links ul li {
          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px; }
          html[dir=ltr] #demo > div .demo-wrapper .demo-links ul li[x-active] {
            background-color: #2d3237; }
          html[dir=ltr] #demo > div .demo-wrapper .demo-links ul li a {
            color: #f2f2f2; }
      html[dir=ltr] #demo > div .demo-wrapper .demo-area {
        padding-left: 300px;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* 1 */
        -webkit-overflow-scrolling: touch;
        /* 1 */
        box-sizing: border-box;
        /* 1: prevents double scrollbar (from iframe and from iframe's wrapper)  */ }
        @media (max-width: 992px) {
          html[dir=ltr] #demo > div .demo-wrapper .demo-area {
            padding-left: 0px; } }
        html[dir=ltr] #demo > div .demo-wrapper .demo-area > div {
          height: 100%;
          overflow: auto;
          -webkit-overflow-scrolling: touch; }
        html[dir=ltr] #demo > div .demo-wrapper .demo-area > iframe {
          width: 100%;
          height: 100%;
          margin: 0px 0px -5px 0px;
          /* 1 */
          padding: 0px;
          border: none; }

html[dir=ltr] .demo-screen {
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: inset 0px 3px 11px 0px rgba(0, 0, 0, 0.75); }

html[dir=rtl] a {
  color: black;
  text-decoration: none; }

html[dir=rtl] ul, html[dir=rtl] li {
  margin: 0px;
  padding: 0px;
  list-style: none; }

html[dir=rtl] #demo {
  height: 100%; }
  html[dir=rtl] #demo .head-link {
    color: #f2f2f2; }
  html[dir=rtl] #demo > div {
    height: 100%; }
    html[dir=rtl] #demo > div .page-header {
      position: relative;
      z-index: 1;
      height: 50px;
      box-sizing: border-box;
      background-color: #3e454b;
      border-top: 3px solid #2d3237;
      border-bottom: 3px solid #2d3237;
      box-shadow: 0 8px 6px -6px black; }
      @media (max-width: 992px) {
        html[dir=rtl] #demo > div .page-header {
          padding-right: 100px; } }
      html[dir=rtl] #demo > div .page-header h2 {
        display: inline-block;
        width: calc(100% - 100px);
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: top;
        margin: 0px;
        padding: 0px;
        color: #f2f2f2; }
      html[dir=rtl] #demo > div .page-header a {
        display: inline-block;
        width: 100px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: top;
        margin: 0px;
        padding: 0px; }
    html[dir=rtl] #demo > div .demo-wrapper {
      position: relative;
      height: calc(100% - 50px);
      /* 1: fix ios iframe weird behaviour which makes its height auto-sizing according with content */ }
      html[dir=rtl] #demo > div .demo-wrapper #links-toggle-label {
        position: absolute;
        z-index: 1;
        display: none; }
        @media (max-width: 992px) {
          html[dir=rtl] #demo > div .demo-wrapper #links-toggle-label {
            display: block;
            cursor: pointer;
            width: 100px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            top: -50px; } }
      html[dir=rtl] #demo > div .demo-wrapper #links-toggle {
        display: none; }
        @media (max-width: 992px) {
          html[dir=rtl] #demo > div .demo-wrapper #links-toggle:checked + .demo-links {
            width: 100%;
            display: block; } }
      html[dir=rtl] #demo > div .demo-wrapper .demo-links {
        position: absolute;
        z-index: 1;
        overflow: auto;
        width: 300px;
        height: 100%;
        background-color: #3e454b;
        box-sizing: border-box;
        border-right: 1px solid #c1c1c1; }
        @media (max-width: 992px) {
          html[dir=rtl] #demo > div .demo-wrapper .demo-links {
            display: none; } }
        html[dir=rtl] #demo > div .demo-wrapper .demo-links .locale-dir-switch {
          padding-right: 10px;
          height: 30px;
          line-height: 30px;
          background-color: #2d3237;
          margin-bottom: 1px; }
          html[dir=rtl] #demo > div .demo-wrapper .demo-links .locale-dir-switch a {
            color: #f2f2f2; }
        html[dir=rtl] #demo > div .demo-wrapper .demo-links ul li {
          padding-right: 10px;
          padding-top: 5px;
          padding-bottom: 5px; }
          html[dir=rtl] #demo > div .demo-wrapper .demo-links ul li[x-active] {
            background-color: #2d3237; }
          html[dir=rtl] #demo > div .demo-wrapper .demo-links ul li a {
            color: #f2f2f2; }
      html[dir=rtl] #demo > div .demo-wrapper .demo-area {
        padding-right: 300px;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* 1 */
        -webkit-overflow-scrolling: touch;
        /* 1 */
        box-sizing: border-box;
        /* 1: prevents double scrollbar (from iframe and from iframe's wrapper)  */ }
        @media (max-width: 992px) {
          html[dir=rtl] #demo > div .demo-wrapper .demo-area {
            padding-right: 0px; } }
        html[dir=rtl] #demo > div .demo-wrapper .demo-area > div {
          height: 100%;
          overflow: auto;
          -webkit-overflow-scrolling: touch; }
        html[dir=rtl] #demo > div .demo-wrapper .demo-area > iframe {
          width: 100%;
          height: 100%;
          margin: 0px 0px -5px 0px;
          /* 1 */
          padding: 0px;
          border: none; }

html[dir=rtl] .demo-screen {
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: inset 0px 3px 11px 0px rgba(0, 0, 0, 0.75); }
