html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #383e44;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-size: 15px; }

* {
  box-sizing: border-box; }

html[dir=ltr] a {
  color: black;
  text-decoration: none; }

html[dir=ltr] ul, html[dir=ltr] li {
  margin: 0px;
  padding: 0px;
  list-style: none; }

html[dir=ltr] pre {
  margin: 0px;
  padding: 0px; }
  html[dir=ltr] pre code {
    background-color: transparent;
    unicode-bidi: plaintext; }

html[dir=ltr] #demo {
  height: 100%; }
  html[dir=ltr] #demo .head-link {
    color: #f0f0f0; }
  html[dir=ltr] #demo > div {
    height: 100%; }
    html[dir=ltr] #demo > div .page-header {
      position: relative;
      z-index: 1;
      height: 50px;
      box-sizing: border-box;
      background-color: #3e454b;
      border-top: 3px solid #2d3237;
      border-bottom: 3px solid #2d3237;
      box-shadow: 0 8px 6px -6px black; }
      @media (max-width: 992px) {
        html[dir=ltr] #demo > div .page-header {
          padding-left: 100px; } }
      html[dir=ltr] #demo > div .page-header h2 {
        display: inline-block;
        width: calc(100% - 100px);
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: top;
        margin: 0;
        padding: 0;
        color: #f0f0f0; }
      html[dir=ltr] #demo > div .page-header a {
        display: inline-block;
        width: 100px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: top;
        margin: 0;
        padding: 0; }
    html[dir=ltr] #demo > div .demo-wrapper {
      position: relative;
      height: calc(100% - 50px);
      /* 1: fix ios iframe weird behaviour which makes its height auto-sizing according with content */ }
      html[dir=ltr] #demo > div .demo-wrapper #links-toggle-label {
        position: absolute;
        z-index: 1;
        display: none; }
        @media (max-width: 992px) {
          html[dir=ltr] #demo > div .demo-wrapper #links-toggle-label {
            display: block;
            cursor: pointer;
            width: 100px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            top: -50px; } }
      html[dir=ltr] #demo > div .demo-wrapper #links-toggle {
        display: none; }
        @media (max-width: 992px) {
          html[dir=ltr] #demo > div .demo-wrapper #links-toggle:checked + .demo-links {
            width: 100%;
            display: block; } }
      html[dir=ltr] #demo > div .demo-wrapper .demo-links {
        position: absolute;
        z-index: 1;
        overflow: auto;
        width: 300px;
        height: 100%;
        padding-bottom: 20px;
        background-color: #3e454b;
        box-sizing: border-box;
        border-right: 1px solid #c1c1c1; }
        @media (max-width: 992px) {
          html[dir=ltr] #demo > div .demo-wrapper .demo-links {
            display: none; } }
        html[dir=ltr] #demo > div .demo-wrapper .demo-links .locale-dir-switch {
          padding-left: 10px;
          height: 30px;
          line-height: 30px;
          background-color: #2d3237;
          margin-bottom: 1px; }
          html[dir=ltr] #demo > div .demo-wrapper .demo-links .locale-dir-switch a {
            color: #f0f0f0; }
        html[dir=ltr] #demo > div .demo-wrapper .demo-links ul li {
          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px; }
          html[dir=ltr] #demo > div .demo-wrapper .demo-links ul li:hover {
            background-color: #363c42; }
          html[dir=ltr] #demo > div .demo-wrapper .demo-links ul li[x-active] {
            background-color: #2d3237; }
          html[dir=ltr] #demo > div .demo-wrapper .demo-links ul li a {
            color: #f0f0f0; }
      html[dir=ltr] #demo > div .demo-wrapper .demo-area {
        padding-left: 300px;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* 1 */
        -webkit-overflow-scrolling: touch;
        /* 1 */
        box-sizing: border-box;
        /* 1: prevents double scrollbar (from iframe and from iframe's wrapper)  */ }
        @media (max-width: 992px) {
          html[dir=ltr] #demo > div .demo-wrapper .demo-area {
            padding-left: 0px; } }
        html[dir=ltr] #demo > div .demo-wrapper .demo-area > div {
          height: 100%;
          overflow: auto;
          -webkit-overflow-scrolling: touch; }
        html[dir=ltr] #demo > div .demo-wrapper .demo-area > iframe {
          width: 100%;
          height: 100%;
          margin: 0px 0px -5px 0px;
          /* 1 */
          padding: 0;
          border: none; }

html[dir=ltr] .demo-screen {
  padding: 20px 10px 20px 10px;
  background-color: #fafafa;
  box-shadow: inset 0px 3px 11px 0px rgba(0, 0, 0, 0.75); }
  html[dir=ltr] .demo-screen .tabs > section {
    display: none;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px -1px 4px;
    background-color: #fafafa; }
  html[dir=ltr] .demo-screen .tabs > input {
    display: none; }
  html[dir=ltr] .demo-screen .tabs > label {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 0px 25px;
    height: 70px;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border-top: 2px solid transparent;
    background-color: transparent; }
  html[dir=ltr] .demo-screen .tabs > label:hover {
    color: #888;
    cursor: pointer; }
  html[dir=ltr] .demo-screen .tabs > input:checked + label {
    color: #555;
    height: 82px;
    margin-bottom: -1px;
    border-top: 2px solid orange;
    border-bottom: none;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.12) -1px -2px 2px, rgba(0, 0, 0, 0.12) 1px -2px 2px; }
  html[dir=ltr] .demo-screen .tabs #tab-1:checked ~ #content-1 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-2:checked ~ #content-2 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-3:checked ~ #content-3 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-4:checked ~ #content-4 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-5:checked ~ #content-5 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-6:checked ~ #content-6 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-7:checked ~ #content-7 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-8:checked ~ #content-8 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-9:checked ~ #content-9 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-10:checked ~ #content-10 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-11:checked ~ #content-11 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-12:checked ~ #content-12 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-13:checked ~ #content-13 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-14:checked ~ #content-14 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-15:checked ~ #content-15 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-16:checked ~ #content-16 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-17:checked ~ #content-17 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-18:checked ~ #content-18 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-19:checked ~ #content-19 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-20:checked ~ #content-20 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-21:checked ~ #content-21 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-22:checked ~ #content-22 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-23:checked ~ #content-23 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-24:checked ~ #content-24 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-25:checked ~ #content-25 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-26:checked ~ #content-26 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-27:checked ~ #content-27 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-28:checked ~ #content-28 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-29:checked ~ #content-29 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-30:checked ~ #content-30 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-31:checked ~ #content-31 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-32:checked ~ #content-32 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-33:checked ~ #content-33 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-34:checked ~ #content-34 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-35:checked ~ #content-35 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-36:checked ~ #content-36 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-37:checked ~ #content-37 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-38:checked ~ #content-38 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-39:checked ~ #content-39 {
    display: block; }
  html[dir=ltr] .demo-screen .tabs #tab-40:checked ~ #content-40 {
    display: block; }

html[dir=rtl] a {
  color: black;
  text-decoration: none; }

html[dir=rtl] ul, html[dir=rtl] li {
  margin: 0px;
  padding: 0px;
  list-style: none; }

html[dir=rtl] pre {
  margin: 0px;
  padding: 0px; }
  html[dir=rtl] pre code {
    background-color: transparent;
    unicode-bidi: plaintext; }

html[dir=rtl] #demo {
  height: 100%; }
  html[dir=rtl] #demo .head-link {
    color: #f0f0f0; }
  html[dir=rtl] #demo > div {
    height: 100%; }
    html[dir=rtl] #demo > div .page-header {
      position: relative;
      z-index: 1;
      height: 50px;
      box-sizing: border-box;
      background-color: #3e454b;
      border-top: 3px solid #2d3237;
      border-bottom: 3px solid #2d3237;
      box-shadow: 0 8px 6px -6px black; }
      @media (max-width: 992px) {
        html[dir=rtl] #demo > div .page-header {
          padding-right: 100px; } }
      html[dir=rtl] #demo > div .page-header h2 {
        display: inline-block;
        width: calc(100% - 100px);
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: top;
        margin: 0;
        padding: 0;
        color: #f0f0f0; }
      html[dir=rtl] #demo > div .page-header a {
        display: inline-block;
        width: 100px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        vertical-align: top;
        margin: 0;
        padding: 0; }
    html[dir=rtl] #demo > div .demo-wrapper {
      position: relative;
      height: calc(100% - 50px);
      /* 1: fix ios iframe weird behaviour which makes its height auto-sizing according with content */ }
      html[dir=rtl] #demo > div .demo-wrapper #links-toggle-label {
        position: absolute;
        z-index: 1;
        display: none; }
        @media (max-width: 992px) {
          html[dir=rtl] #demo > div .demo-wrapper #links-toggle-label {
            display: block;
            cursor: pointer;
            width: 100px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            top: -50px; } }
      html[dir=rtl] #demo > div .demo-wrapper #links-toggle {
        display: none; }
        @media (max-width: 992px) {
          html[dir=rtl] #demo > div .demo-wrapper #links-toggle:checked + .demo-links {
            width: 100%;
            display: block; } }
      html[dir=rtl] #demo > div .demo-wrapper .demo-links {
        position: absolute;
        z-index: 1;
        overflow: auto;
        width: 300px;
        height: 100%;
        padding-bottom: 20px;
        background-color: #3e454b;
        box-sizing: border-box;
        border-right: 1px solid #c1c1c1; }
        @media (max-width: 992px) {
          html[dir=rtl] #demo > div .demo-wrapper .demo-links {
            display: none; } }
        html[dir=rtl] #demo > div .demo-wrapper .demo-links .locale-dir-switch {
          padding-right: 10px;
          height: 30px;
          line-height: 30px;
          background-color: #2d3237;
          margin-bottom: 1px; }
          html[dir=rtl] #demo > div .demo-wrapper .demo-links .locale-dir-switch a {
            color: #f0f0f0; }
        html[dir=rtl] #demo > div .demo-wrapper .demo-links ul li {
          padding-right: 10px;
          padding-top: 5px;
          padding-bottom: 5px; }
          html[dir=rtl] #demo > div .demo-wrapper .demo-links ul li:hover {
            background-color: #363c42; }
          html[dir=rtl] #demo > div .demo-wrapper .demo-links ul li[x-active] {
            background-color: #2d3237; }
          html[dir=rtl] #demo > div .demo-wrapper .demo-links ul li a {
            color: #f0f0f0; }
      html[dir=rtl] #demo > div .demo-wrapper .demo-area {
        padding-right: 300px;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* 1 */
        -webkit-overflow-scrolling: touch;
        /* 1 */
        box-sizing: border-box;
        /* 1: prevents double scrollbar (from iframe and from iframe's wrapper)  */ }
        @media (max-width: 992px) {
          html[dir=rtl] #demo > div .demo-wrapper .demo-area {
            padding-right: 0px; } }
        html[dir=rtl] #demo > div .demo-wrapper .demo-area > div {
          height: 100%;
          overflow: auto;
          -webkit-overflow-scrolling: touch; }
        html[dir=rtl] #demo > div .demo-wrapper .demo-area > iframe {
          width: 100%;
          height: 100%;
          margin: 0px 0px -5px 0px;
          /* 1 */
          padding: 0;
          border: none; }

html[dir=rtl] .demo-screen {
  padding: 20px 10px 20px 10px;
  background-color: #fafafa;
  box-shadow: inset 0px 3px 11px 0px rgba(0, 0, 0, 0.75); }
  html[dir=rtl] .demo-screen .tabs > section {
    display: none;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px -1px 4px;
    background-color: #fafafa; }
  html[dir=rtl] .demo-screen .tabs > input {
    display: none; }
  html[dir=rtl] .demo-screen .tabs > label {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 5px;
    padding: 0px 25px;
    height: 70px;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border-top: 2px solid transparent;
    background-color: transparent; }
  html[dir=rtl] .demo-screen .tabs > label:hover {
    color: #888;
    cursor: pointer; }
  html[dir=rtl] .demo-screen .tabs > input:checked + label {
    color: #555;
    height: 82px;
    margin-bottom: -1px;
    border-top: 2px solid orange;
    border-bottom: none;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.12) -1px -2px 2px, rgba(0, 0, 0, 0.12) 1px -2px 2px; }
  html[dir=rtl] .demo-screen .tabs #tab-1:checked ~ #content-1 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-2:checked ~ #content-2 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-3:checked ~ #content-3 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-4:checked ~ #content-4 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-5:checked ~ #content-5 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-6:checked ~ #content-6 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-7:checked ~ #content-7 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-8:checked ~ #content-8 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-9:checked ~ #content-9 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-10:checked ~ #content-10 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-11:checked ~ #content-11 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-12:checked ~ #content-12 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-13:checked ~ #content-13 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-14:checked ~ #content-14 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-15:checked ~ #content-15 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-16:checked ~ #content-16 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-17:checked ~ #content-17 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-18:checked ~ #content-18 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-19:checked ~ #content-19 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-20:checked ~ #content-20 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-21:checked ~ #content-21 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-22:checked ~ #content-22 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-23:checked ~ #content-23 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-24:checked ~ #content-24 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-25:checked ~ #content-25 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-26:checked ~ #content-26 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-27:checked ~ #content-27 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-28:checked ~ #content-28 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-29:checked ~ #content-29 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-30:checked ~ #content-30 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-31:checked ~ #content-31 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-32:checked ~ #content-32 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-33:checked ~ #content-33 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-34:checked ~ #content-34 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-35:checked ~ #content-35 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-36:checked ~ #content-36 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-37:checked ~ #content-37 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-38:checked ~ #content-38 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-39:checked ~ #content-39 {
    display: block; }
  html[dir=rtl] .demo-screen .tabs #tab-40:checked ~ #content-40 {
    display: block; }
