
$primary-color: blue;
$secondary-color: maroon;

$dir: ltr;
html[dir=#{$dir}] {
  @import "../../src/style/setup";
  @import "../../src/style/utils/browsers_overrides";
  @import "../../src/style/components/FormInput";
  @import "patches";
}


$dir: rtl;
html[dir=#{$dir}] {
  @import "../../src/style/setup";
  @import "../../src/style/utils/browsers_overrides";
  @import "../../src/style/components/FormInput";
  @import "patches";
}




